<div class="container">
  <br>
  <p><strong>커뮤니티</strong></p><hr>
  
  <div style="text-align:right;">
    <form action="/community/search">
      <select name = "search_head">
        <option>전체보기</option>
        <option>후기</option>
        <option>할인정보</option>
        <option>꿀팁공유</option>
        <option>같이의가치</option>
      </select>
      <button type="submit">검색</button>
    </form>
  </div><br>
  
    <table class="table">
      <thead> 
        <tr>
          <th scope="col" width="20%">#</th>
          <th scope="col">제목</th>
          <th scope="col" width="10%">작성자</th>
          <th scope="col" width="20%">등록일</th>
        </tr>
      </thead>
      
      <tbody>
        <% @community.each do |c| %>
            <tr>
              <td><a ><%= c.head %></a></td>
              <td><a href="/community/show/<%= c.id %>"><%= c.item %></a></td>
              <td><a ><%=c.user.username%></a></td>
              <td><a ><%= c.created_at.to_s.split(":").first %>:<%=c.created_at.to_s.split(":").second %></a></td>
            </tr>
        <% end %>
      </tbody>

    </table>
    
    <br></br>
    
    <!--검색할 수 있게 한다-->
    <div style="text-align:center;">
      <form class="form-inline my-2 my-lg-0" action="/community/find" method="get">
          <div class="form-group">
            <select name="cate" id="exampleFormControlSelect1">
              <option value="1">제목</option>
              <option value="2">내용</option>
              <option value="3">제목+내용</option>
              <option value="4">작성자</option>
            </select>
          </div>
        <input name="q" class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="Search">
        <button type="submit">검색</button>
      </form>
    </div>
    
    
    <div style="text-align:right;"><a href="/community/new"><button type="button">글쓰기</button></a></div>

</div>